button {
  margin-left: 5px;
}

ul {
  list-style: none;
  padding: 0;
}

h2 {
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 10px;
}

.navbar li {
  padding: 0 10px;
  font-weight: bold;
  color: #282c34;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.add-book {
  display: flex;
  justify-content: space-between;
}

.add-book input {
  font-size: large;
  margin-left: 5px;
  width: 100%;
}

.add-book input:first-child {
  margin-left: 0;
}

.books-display {
  display: flex;
  flex-direction: column;
  max-width: 800px;
}

.books-display ul {
  display: flex;
  flex-direction: column;
}

.books-display li {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}
